
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ms-motor-reglas-frontend-primary: mat.define-palette(mat.$indigo-palette);
$ms-motor-reglas-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ms-motor-reglas-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ms-motor-reglas-frontend-theme: mat.define-light-theme((
  color: (
    primary: $ms-motor-reglas-frontend-primary,
    accent: $ms-motor-reglas-frontend-accent,
    warn: $ms-motor-reglas-frontend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ms-motor-reglas-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #cb0f0f;
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #cb0f0f;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #cb0f0f;
  --mat-tab-header-active-label-text-color: #cb0f0f;
  --mat-tab-header-active-hover-label-text-color: #000000;
}
